body {
    background-color: #d2d6de;
}

.input-group[class*=col-] {
    padding-left: 15px;
    padding-right: 15px;
}

.panel dl:not(:last-child) {
    border-bottom: 1px dotted lightgray;
    padding-bottom: 20px;
}

.multi-line-table {
    table-layout: fixed;
    word-wrap: break-word;
}


